<h1>Questions#answer</h1>
<%= @answer %>



<input type="button" class="btn btn-info" value="try again" onclick=" relocate_home()">

<script>
function relocate_home()
{
     location.href = "ask.html";
}
</script>
