<div class="container">
  <h1>Questions#ask</h1>
  <p>Find me in app/views/questions/ask.html.erb</p>

    <div class="row">
       <form action="/answer">
    </div>
    <div class="row">
      <input type="text" name="user_input">
      <input type="submit" value="Ask!">
    </div>
    </form>
</div>
